.chat-conteudo {
    display: grid;
    grid-template-rows: 75px auto 75px;
    padding: 5px;
    height: calc(100vh - 390px);
}

.chat-header {
    text-align: center;
}

.chat-conversa {
    overflow: auto;
}

.chat-mensagem {

}